.colorBox{
	background-color: cornflowerblue;
	width:400px;
	height:400px;
	position:relative;
}
#wordSize{
	font-size:20px;
    position: absolute;
	top:50%;
	left:50%;
	width:200px;
	height:200px;
	color:#ffffff;
	margin-top:-100px;
	margin-left:-100px;
	text-align: center;
}
.formBox{
	margin-top:40px;
}
.twocolor li{
	width:400px;
	height:30px;
}
.twocolor li:nth-child(n+0){
	background-color:mediumvioletred ;
}
.twocolor li:nth-child(2n+0){
	background-color:gray ;
}
.gallery{
	width:1200px;
	height:800px;
	border:1px solid #e0e0e0;
	margin-bottom: 20px;
	position:relative;
}

.gallery li{
	float:left;
	list-style: none;
}
.gallery img{
	width:200px;
	height:200px;
	margin-left:20px;
	
}
#placeholder{
	width:300px;
	height:300px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-150px;
}
.box{
	width:400px;
	height:700px;
	background-color: #E0E0E0;
	margin:40px 0 0 100px;
	
}
.counter{
	width:auto;
	height:auto;
	margin:0px 20px;
	padding-top:20px;
}
.counter ul{
	padding: 0;
}
.counter li{
	list-style-type: none;
	width:100px;
	height:100px;
	background-color: #808080;
	text-align: center;
	display:inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}
.counter li:nth-child(3n+0){
	margin-right: 0px;
}
.counter li:hover{
	color:#FFFFFF;
	background-color:#FF69B4;
}
.yes{
	color:#FFFFFF;
	background-color:#FF69B4;
}
.no{
	color:#000000;
	background-color: #808080;
}
.counter div{
	width:350px;
	height:100px;
	border:2px solid #f3f2eede;
	text-align: center;
}
.counter div p{
	margin-top:30px;
	color:#f92020;
}

