table{
	width:600px;
	margin:20px 0 20px 90px;
}
table tr{
	width:100%;
}
table a{
	color:cornflowerblue;
	text-decoration: underline;
}

table tr img{
	width:300px;
	height:300px;
}
.p p{
	word-break: break-all;
}
.p a{
	display: block;
	text-align: left;
	margin-left: 8px;
	text-decoration: underline;
	color:cornflowerblue;	
}
